- navigation render 'navigation/main'
%section.home-intro
  .container-fluid
    .row
      .col-sm-6.col-sm-offset-3.v-center
        %h1 FIRE. THE. REALTOR.
        %p.center
          Buy a house on KASA and we’ll pay you.
          %br>/
          Sell a house on KASA and keep the commission.
          %br/
          %b No Realtors. No Bullshit.
        .get-started-btn
          .row
            .col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-0
              %a.hvr-sweep-to-bottom.btn-center{:href => "#"} Buy
            .col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-0
              %a.hvr-sweep-to-bottom.btn-center{:href => "#"} Sell
